langgraph
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
langchain-huggingface
pydantic
uvicorn
streamlit
fastapi
requests
python-dotenv
langchain-groq
httpx
faiss-cpu
sentence-transformers